<hr style="border-color: #333;">
{% for message in group_messages %}
     <div style="background-color: #444; padding: 10px; border-radius: 10px; box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);">
        <small style="color: #fff;"><a class="username" style="color: #fff; text-decoration: none;" href="{% url "user-profile" message.user.id %}"> {{message.user}} </a>  {{message.created | timesince}}</small>
        <small style="color: #fff;">replied to "{{message.group}}"</small>
        <p style="color: #fff;"> {{message}} </p>
        {% if request.user == message.user %}
        <a class="delete" style="color: #fff; text-decoration: none;" href="{% url "delete-message"  message.id %}">delete</a>
        {% endif %}
        <hr style="border-color: #333;">
     </div>
{% endfor %}