<div class="message" id="message-{{ message.id }}" data-notification-sent="{{ message.notification_sent }}" data-read="{{ message.read }}">

  {% if file_name %}
  <div>
    <strong>{{ user.username }}:</strong> Отправил файл {{ file_name }}<p> (для того чтобы увидеть файл перезагрузите страницу!)</p>
  </div>
  {% else %}
  <small class="message-meta">
    from @<a href="{% url "user-profile" message.user.id %}">{{ message.user.username }}</a>  {{ message.created | timesince }} ago
  </small>
  {% endif %}
  {% if request.user == message.user %}
    {% if message.read == True %}
      <p style="font-size=8erm;">Сообщение прочитано!</p>
    {% endif %}
  {% endif %}
  {% if message.body %}
  <p class="message-body">{{ message.body }}</p>
  {% elif message.file %}
  <div class="media-container" id="file-{{ message.id }}">
    {% with extension=message.file.name|slice:"-4:" %}
      {% if extension == ".jpg" or extension == ".png" or extension == ".gif" %}
      <img src="{{ message.file.url }}" alt="uploaded image">
      {% elif extension == ".mp4" or extension == ".webm" or extension == ".ogg" %}
      <video controls>
        <source src="{{ message.file.url }}" type="video/{{ extension|slice:"1:" }}">
        Your browser does not support the video tag.
      </video>
      {% elif extension == ".mp3" or extension == ".wav" or extension == ".ogg" %}
      <audio controls>
        <source src="{{ message.file.url }}" type="audio/{{ extension|slice:"1:" }}">
        Your browser does not support the audio tag.
      {% elif extension == ".pdf" %}
      <a href="{{ message.file.url }}" target="_blank" class="download-link">View PDF</a>
      {% else %}
      <a href="{{ message.file.url }}" download class="download-link">Download file</a>
      {% endif %}
    {% endwith %}
  </div>
  {% endif %}
  <hr style="border-color: #444; margin-bottom: 10px;" />
</div>


<!-- Стили -->
<style>
  body {
    background-color: #181818;
    color: #ddd;
    font-family: 'Arial', sans-serif;
  }

  .message {
    background-color: #222;
    color: #ddd;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
    margin-bottom: 20px;
  }

  a {
    color: #1abc9c;
    text-decoration: none;
  }

  a:hover {
    text-decoration: underline;
  }

  .message-meta {
    color: #888;
    font-size: 0.9em;
    font-weight: bold;
  }

  .message-body {
    font-size: 18px;
    line-height: 1.6;
    margin: 5px 0;
    color: #eee;
    font-family: Arial, sans-serif;
  }

  .delete-message-button {
    color: #e74c3c;
    text-decoration: none;
    margin-left: 20px;
    font-weight: bold;
  }

  .delete-message-button:hover {
    text-decoration: underline;
  }

  .media-container {
    margin: 10px 0;
    max-width: 60%;
  }

  .media-container img,
  .media-container video {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
  }

  .download-link {
    display: inline-block;
    margin: 10px 0;
    padding: 10px 15px;
    font-size: 14px;
    color: #1abc9c;
    text-decoration: none;
    border: 1px solid #1abc9c;
    border-radius: 4px;
    transition: background-color 0.3s, color 0.3s;
  }

  .download-link:hover {
    background-color: #1abc9c;
    color: #ffffff;
  }

  audio {
    width: 100%;
    margin: 10px 0;
    border-radius: 8px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
  }
</style>
