{% extends "main.html" %}
{% block content %}
<div class="group-container" style="background-color: #2f2f2f; padding: 20px;">

  <div class="group-header" style="margin-bottom: 20px;">
    <!--Группы-->
    {% include "base/feed_component.html" %}
    <!--КОНЕЦ Группы-->
  </div>
    
  <div class="chat-layout" style="padding: 20px;">
    <div class="chat-header" style="background-color: #1a1a1a; color: #fff; padding: 10px;">    
      <h3>{{ group.name }}</h3>
      <p>{{ group.description }}</p>
    </div>

    <!-- Прокручиваемая область с сообщениями -->
    <div id="chat_messages" class="chat-messages" style="background-color: #3b3b3b; padding: 20px;">
      <div id="chat_room" style="padding: 20px;">
        {% for message in group_messages reversed %}
          {% include "base/chat_message_p.html" %}
        {% endfor %}
      </div>
    </div>

    <!-- Форма для отправки сообщений -->
    <div class="room__message" style="background-color: #2f2f2f; padding: 20px;">
      <form id="chat_message_form"
          hx-ext="ws"
          ws-connect="ws://127.0.0.1:8000/ws/group/{{ group.id }}/"
          ws-send
          _="on htmx:wsAfterSend reset() me">
        {% csrf_token %}
        {{ form }}
      </form>
      <form id="chat_file" enctype="multipart/form-data"
          hx-target="#chat_messages"
          hx-swap="beforeend"
          _="on htmx:wsAfterSend reset() me">
        {% csrf_token %}
        <input type="file" name="file" id="id_file">
        <button type="submit">Submit File</button>
      </form>
    </div>
    
  </div>
</div>

<style>
  .group-container {
    display: grid;
    grid-template-columns: 1fr 3fr;
    height: 80vh; /* Занимает всю высоту экрана */
    padding: 20px;
  }

  .chat-layout {
    display: grid;
    grid-template-rows: auto 1fr auto; /* Автоматическая высота для заголовка, растяжение для сообщений и фиксированная высота для формы */
    height: 100%; /* Занимает всю оставшуюся высоту */
    padding: 20px;
  }
  .group-header {
    height: 100%;
    overflow-y: auto; /* Прокрутка для сообщений */
    padding: 20px;
  }

  .chat-messages {
    height: 500px;
    overflow-y: auto; /* Прокрутка для сообщений */
    padding: 20px;
  }

  .form-container {
    display: flex;
    justify-content: center; /* Центрирование формы */
    padding: 20px;
  }
  .room__message {
    padding: 20px;
  }
  .loading-indicator {
    font-size: 16px;
    color: #666;
    margin-bottom: 10px;
  }
  .placeholder-image {
    width: 100px;
    height: 100px;
    border: 1px solid #ddd;
    margin-bottom: 10px;
  }
</style>
{% endblock %}

{% block javascript %}
<script>
  document.addEventListener('DOMContentLoaded', function() {
    const groupId = '{{ group.id }}';
    const chatSocket = new WebSocket('ws://' + window.location.host + '/ws/group/' + groupId + '/');
    let isFileUploading = false; // Инициализация флага

    chatSocket.onmessage = function(e) {
        const data = JSON.parse(e.data);
        console.log('Received data:', data);
  
        const messagesContainer = document.querySelector('#chat_messages');
        if (messagesContainer) {
            if (data.type === 'chat_message') {
                messagesContainer.insertAdjacentHTML('beforeend', data.html);
            } else if (data.type === 'file_notification') {
                const notificationMessage = `<div><strong>${data.user}:</strong> Отправил файл ${data.file_name}</div>`;
                messagesContainer.insertAdjacentHTML('beforeend', notificationMessage);
            } else if (data.type === 'file_uploaded') {
                const fileMessage = `<div id="${data.file_id}"><strong>${data.user}:</strong> <img src="data:${data.file_type};base64,${data.file_base64}" alt="${data.file_name}"> <a href="${data.file_url}" target="_blank">Download ${data.file_name}</a></div>`;
                messagesContainer.insertAdjacentHTML('beforeend', fileMessage);
            }// Обработка подтверждения получения сообщения
            else if (data.type === 'message_delivered') {
              const messageId = e.data.message_id;
              const status = e.data.status;
              const messageElement = document.querySelector(`#message-${messageId}`);
              if (messageElement) {
                messageElement.dataset.read = status; // Update read attribute
                updateMessageStatus(messageId, status); // Call updateMessageStatus function
                messageElement.addEventListener('click', function() {
                  fetch(`/update-message-status/${messageId}/`, {
                    method: 'POST',
                    headers: {
                      'Content-Type': 'application/json',
                      'X-CSRFToken': '{{ csrf_token }}'  // Добавляем CSRF токен
                    },
                    body: JSON.stringify({ read: true }),
                  })
                  .then((response) => {
                    if (response.ok) {
                      messageElement.dataset.read = true; // Update read attribute
                      messageElement.classList.add('data-read');
                      messageElement.dispatchEvent(new Event('change'));
                      console.log(messageElement.getAttribute('data-read'));
                      messageElement.classList.add('read');
                    } else {
                      console.error('Ошибка обновления статуса сообщения:', response.status);
                    }
                  })
                  .catch((error) => {
                    console.error('Ошибка обновления статуса сообщения:', error);
                  });
                });
              }
              scrollBottom(); // Scroll to the bottom after adding a new message
          } 
            scrollBottom(); // Прокручиваем вниз после добавления нового сообщения
        }
    };
            // Обновляем статус сообщения
            function updateMessageStatus(messageId, status) {
              const messageElement = document.querySelector(`#message-${messageId}`);
              if (messageElement) {
                messageElement.setAttribute('data-read', status);
                if (status) {
                } else {
                  const readStatusElement = messageElement.querySelector('p');
                }
              }
            }
            const messageElements = document.querySelectorAll('.message');

            const observer = new IntersectionObserver((entries) => {
              entries.forEach(entry => {
                if (entry.isIntersecting) {
                  const messageElement = entry.target;
                  const messageId = messageElement.id.split('-')[1];
                  
                  fetch(`/update-message-status/${messageId}/`, {
                    method: 'POST',
                    headers: {
                      'Content-Type': 'application/json',
                      'X-CSRFToken': '{{ csrf_token }}'  // Добавляем CSRF токен
                    },
                    body: JSON.stringify({ read: true }),
                  })
                  .then((response) => {
                    if (response.ok) {
                      messageElement.dataset.read = true; // Обновляем статус прочтения
                      messageElement.classList.add('read');
                    } else {
                      console.error('Ошибка обновления статуса сообщения:', response.status);
                    }
                  })
                  .catch((error) => {
                    console.error('Ошибка обновления статуса сообщения:', error);
                  });
                  
                  // Останавливаем наблюдение за этим элементом
                  observer.unobserve(messageElement);
                }
              });
            });
            
            // Наблюдаем за каждым сообщением
            messageElements.forEach((messageElement) => {
              observer.observe(messageElement);
            });
            
    chatSocket.onclose = function(e) {
        console.error('Chat socket closed unexpectedly');
    };

    const messageForm = document.getElementById('chat_message_form');
    messageForm.addEventListener('submit', function(event) {
        event.preventDefault();
        const formData = new FormData(messageForm);
        const message = {
            type: 'chat_message',
            body: formData.get('body') || '', // Обработка пустого тела сообщения
            file_url: '',
            file_name: ''
        };
        chatSocket.send(JSON.stringify(message));
        messageForm.reset();
    });

    const fileForm = document.getElementById('chat_file');
    fileForm.addEventListener('submit', async function(event) {
      event.preventDefault();
      if (isFileUploading) return; // Игнорируем повторную отправку
  
      const fileInput = document.getElementById('id_file');
      if (!fileInput.files.length) { // Проверяем, выбран ли файл
          alert('Пожалуйста, выберите файл');
          return;
      }
  
      const fileName = fileInput.files[0].name; // Имя файла
      const fileId = new Date().getTime(); // Уникальный идентификатор

        // Добавляем индикатор загрузки
        const loadingIndicator = document.createElement('div');
        loadingIndicator.innerHTML = `Загрузка файла ${fileName}...`;
        loadingIndicator.className = 'loading-indicator';
        const messagesContainer = document.querySelector('#chat_messages');
        messagesContainer.insertAdjacentElement('beforeend', loadingIndicator);

        const existingFile = document.querySelector(`[data-file-name="${fileName}"][data-file-id="${fileId}"]`);

        if (existingFile) {
            alert(`Файл с именем ${fileName} уже существует в чате`);
            return;
        }

        isFileUploading = true;
        const formData = new FormData(fileForm);
        formData.append('file_id', fileId); // Добавляем уникальный идентификатор файла

        fetch(`/group/${groupId}/file/upload/`, {
            method: 'POST',
            body: formData,
            headers: {
                'X-CSRFToken': '{{ csrf_token }}'
            }
        })
        .then(response => {
            if (!response.ok) {
                throw new Error('Network response was not ok');
            }
            return response.json();
        })
        .then(async data => {
            console.log('File upload response:', data); // Логирование ответа от сервера
            if (data.file_url) {
                const fileContent = fileInput.files[0]; // Get the file content
                const fileBase64 = await readFileAsBase64(fileContent); // Convert file to base64
                const message = {
                    type: 'file_uploaded',
                    file_id: fileId,
                    file_name: fileName,
                    file_url: data.file_url,
                    file_base64: fileBase64, // Send the base64-encoded file content
                    user: '{{ user.username }}'
                };
                chatSocket.send(JSON.stringify(message)); // Отправка уведомления
            } else {
                console.error('File upload failed');
                // Отправка уведомления об ошибке
                const errorMessage = {
                    type: 'error',
                    message: 'Файл не был загружен'
                };
                chatSocket.send(JSON.stringify(errorMessage));
            }
        })
        .catch(error => {
            console.error('Error uploading file:', error);
            // Отправка уведомления об ошибке
            const errorMessage = {
                type: 'error',
                message: 'Ошибка при загрузке файла'
            };
            chatSocket.send(JSON.stringify(errorMessage));
        })
        .finally(() => {
            // Удаляем индикатор загрузки
            const loadingIndicator = document.querySelector('.loading-indicator');
            if (loadingIndicator) {
                loadingIndicator.remove();
            }
            isFileUploading = false; // Сбрасываем флаг после завершения загрузки
        });
    });

    // Helper function to convert file to base64
    function readFileAsBase64(file) {
        return new Promise((resolve, reject) => {
            const reader = new FileReader();
            reader.onload = () => {
                resolve(reader.result.split(',')[1]); // Возвращаем только base64-строку без типа данных
            };
            reader.onerror = () => {
                reject(reader.error);
            };
            reader.readAsDataURL(file);
        });
    }

    function scrollBottom(time = 0) {
        setTimeout(function() {
            const container = document.getElementById('chat_messages');
            if (container) {
                container.scrollTop = container.scrollHeight;
            }
        }, time);
    }

    scrollBottom(100); // Прокрутка вниз при загрузке страницы
});

</script>
{% endblock javascript %}
