{% extends "main.html" %} {% block content %}



<!--Поиск по группам-->
{% include "base/searh_result.html" %}
<!--КОНЕЦ Поиск по группам-->




<!--Home-->
<div class="home-container" style="background-color: #333; color: #fff;">
  <div>
    <hr style="border-color: #555;" />
    <h5 style="color: #66d9ef;">You have {{ group_count }} groups</h5>
    <!--Группы-->
    <div class="feed">{% include "base/feed_component.html" %}</div>
    <!--КОНЕЦ Группы-->
  </div>
  <div >
    <hr style="border-color: #555;" />
    <h3 style="color: #fff; background-color: #333; padding: 10px; border-radius: 10px; box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);">Recent correspondence</h3>
    <!--Сообщения-->
    <div class="activity">{% include "base/activivty_componeit.html" %}</div>
    <!--КОНЕЦ Сообщения-->
  </div>
</div>
<!--КОНЕЦ Home-->



<style>
  .home-container {
    height: 85vh;
    overflow-y: hidden;
  }
  .feed{
    overflow-y: auto; /* Прокрутка для сообщений */
    height: 85vh;

  }
  .activity{
    overflow-y: auto; /* Прокрутка для сообщений */
    height: 85vh;
    
  }
</style>
{% endblock %}